/* CSS declarations go here */
ol
{


}
.ul-question{
    list-style-type:none;
}
.bababab{
    text-decoration: none;
}
.pointeur{
    cursor:pointer;

}
.bababab:hover{
     text-decoration:none;
    cursor:pointer;
}