<header>
    <h1>Entrainement du qcm </h1>
</header>

<h1>Titre test</h1>
<select class="form-control"   ng-model="viewby" ng-change="setItemsPerPage(viewby);showHideNextBtn('false')"><option>3</option><option>5</option><option>10</option></select> .

<ul class="ul-question">
    <li class="getQuestion" ng-repeat="($index1,question) in $ctrl.questions.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))"><span >{{$index+1+itemsPerPage*(currentPage-1)}}. {{question.text}}?</span>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#collapse{{question._id}}">Petit coup de pouce !</button>
        <ol type="A">
            <li  ng-repeat="($index2,answer) in $ctrl.answers" ng-init="generateArray($index1+itemsPerPage*(currentPage-1),$index,answer.status)" ng-if="question._id==answer.question_id" >
                <input  id="{{answer._id}}" type="checkbox" ng-click="checkBoxValue($index1+itemsPerPage*(currentPage-1),$index,answer.status)" ng-model="myVar"  value="answer._id">
                {{answer.text}} : {{$index}}<p ng-if="myVar==answer.status">Réponse juste</p>
            </li>
        </ol>
        <div id="collapse{{question._id}}" class="collapse">
            {{question.help}}
        </div>
    </li>
</ul>

<ul uib-pager  class="pager" ng-disabled="false" items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage"  ng-click="nextPage(correction);"></ul>
