<header>
    <h1>Entrainement du qcm </h1>
</header>

<h1>Titre test</h1>

<ul class="ul-question">
    <li class="getQuestion" ng-repeat="($index1,question) in $ctrl.questions"><span >{{$index+1}}. {{question.text}}?</span>
        <ol type="A">
            <li  ng-repeat="($index2,answer) in $ctrl.answers" ng-init="generateArray($index1,$index)" ng-if="question._id==answer.question_id" >
                <input  id="{{answer._id}}" type="checkbox" ng-click="checkBoxValue($index1,$index)" ng-model="myVar"  value="answer._id">
                {{answer.text}} : {{$index}}<p ng-if="myVar==answer.status">Réponse juste</p>
            </li>
        </ol>
    </li>
</ul>

<ul><li ng-repeat="question in $ctrl.tests">
    {{question.text}}
</li></ul>