<header>

    <h1>Statistique du qcm</h1>
</header>
<div class=" corps panel-body">
    <div class="row">
        <div class="col-md-4">
           <center> <h3>Historique</h3></center>
            <br>
            <ul class="list-group">
                <li class="list-group-item"  ng-repeat="stat in $ctrl.stats">
                    <div ng-mouseleave="hide_btnRemoveStat()"  ng-mouseover="show_btnRemoveStat()">
                        <span ng-show="removeStatBtn" ng-click="removeStat()"  class="btn label label-default">&#88;</span>
                        <a ng-init="formatDate()" href="" ng-click="goToThisStat()">-{{stat.createdAt}}</a>

                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <center><h3>Graphique</h3></center>
            <canvas  id="line" class="chart chart-horizontalBar"  chart-data="data" chart-labels="labels"
                     chart-legend="true" chart-options="options" chart-series="series" chart-click="onClick"></canvas>
        </div>
    </div>

    <div class="row">
        <center><h3>Tableau</h3></center>
        <div class="col-md-8 col-lg-offset-2">
            <!-- Default panel contents -->
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Questions</th>
                    <th>% de réussite</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="question in $ctrl.questions" ng-if="check($index)" ng-class="setColor(success_ratee)">
                    <td>{{index}}</td>
                    <td>{{question.text}}</td>
                    <td ng-init="">{{success_ratee}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>