<header>
    <h1>Config</h1>

    <div class="form-inline">
        <label>Filtrer les questions</label>
    </div>
</header>
<div class=" corps panel-body">
    <div class="col-xs-12">
        <div ng-repeat="qcm in $ctrl.qcms">
            <div ng-if="qcm.type=='classroom'">
                <class-test></class-test>
                <p>classroom</p>
            </div>
            <div ng-if="qcm.type!='classroom'">
                <qcm-create-exam></qcm-create-exam>
                <p>training</p>

            </div>
            <div>
            </div>

            {{qcm}}
        </div>
        <p>uuuuu</p>
    </div>
</div>