<header>
    <h1>Paramètres</h1>

    <div class="form-inline">
        <label></label>
    </div>
</header>
<div class=" corps panel-body">
    <div class="col-xs-12">
        <div ng-repeat="qcm in $ctrl.qcms">
            <div ng-if="qcm.type=='classroom'">
                <classroom-settings></classroom-settings>
            </div>
            <div ng-if="qcm.type!='classroom'">
                <exam-settings></exam-settings>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>