<div class = "container">
    <div ng-show="login" >
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <p ng-bind="user.mail()"></p>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#" ng-click="logout()" ui-sref="login({})" >Se déconnecter</a></li>
                </ul>
            </li>

        </ul>
    </div>
</div>

