<nav class="navbar navbar-default navbar-fixed-top">
    <div class="col-md-6">
        <logout></logout>
    </div>
    <button ng-click="goToHome()" type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-home"></span></button>
    <img class="navbar-right" src="../img/imgres.png" alt="rr">
</nav>
<div class="col-md-6 col-md-offset-3">
    <div class="alert alert-success" role="alert">...</div>

</div>
<nav class="navbar2 navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand" href="#">Brand</a>
        </div>
    </div><!-- /.container-fluid -->
</nav>