<h3>Thèmes et modules existant</h3>
<div class="list-group">
    <div  ng-repeat="theme in $ctrl.themes " >
        <button  type="button" ng-mouseleave="hide_btnRemoveTheme()" class="list-group-item collapse-input" data-toggle="collapse" data-target="#collapseExample{{theme._id}}" aria-expanded="false" aria-controls="collapseExample">
            <span ng-show="removeThemeBtn" ng-click="removeTheme()"class="btn label label-default">&#88;</span>
            <strong class="collapse-header" ng-mouseover="show_btnRemoveTheme()()"><input ng-show="true" ng-blur="setTheme()" ng-model="theme.text" maxlength="28" size="26" title=""><span ng-hide="true">{{theme.text}}</span></strong>
        </button>
        <div class="collapse" id="collapseExample{{theme._id}}">
            <ul class="col-md-offset-1 list-group form-inline">
                <li ng-repeat="module in $ctrl.modules | orderBy: 'tag'" class="list-group-item collapse-input" ng-if="module.theme_id==theme._id">
                    <div ng-mouseleave="hide_btnRemoveModule()" ng-mouseover="show_btnRemoveModule()">
                        <span ng-show="removeModuleBtn" ng-if="getNumberOfQcm()==0" ng-click="removeModule()" id="b{{module._id}}" class="btn label label-default">&#88;</span>
                        <input title="" class="form-control collapse-input" ng-blur="setModuleTag()" ng-model="module.tag" size="5" maxlength="8">
                        <input title="" class="form-control collapse-input"   ng-show="true" ng-blur="setModuleText()"  ng-model="module.text" size="34" maxlength="50">
                        <span class="badge" ng-bind="getNumberOfQcm()"></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<button ng-click="collapseAll()" >Réorganiser</button>

