<header>
    <h1>Je test Angular sur meteor</h1>
</header>
<h2 ng-click="score()">Score :{{$scope.score}} </h2>

<form ng-submit="submitTest()" >
<ol ng-checked="printStatus()" >
    <li ng-repeat="question in $ctrl.questions" >{{question.text}}?
        <ol type="A">
            <li  ng-repeat="answer in $ctrl.answers" ng-init="t=0" ng-if="question._id==answer.question_id">
                <input class="checkB" id="{{answer._id}}" type="checkbox"  ng-model="myVar" ng-click="testEach(answer.text)"  ng-click="compteNombrePoint()" value="answer._id">
               {{answer.text}}<p ng-if="myVar==answer.status">Réponse juste</p>
            </li>
        </ol>
    </li>
</ol>
    <div >Nombre de points</div>
    <button type="submit">Send</button>
</form>
<p>Note :</p>
<ul  ng-repeat="a in $ctrl.jeTest"  ><li class="statusAnswer">
    {{a.checked}}
</li></ul>