<uib-tabset active="active">
    <uib-tab index="0" heading="Nouveau module" ui-sref="admin.module_add({})">
        <div class="row">
            <div class="form-group col-md-5">
                <div class="form-group col-md-10">
                    <theme-add></theme-add>
                    <hr type="setting">
                    <module-add></module-add>
                </div>
            </div>
            <div class="form-group col-md-7">
                <div class="form-group col-md-11">
                    <themes-modules-get></themes-modules-get>
                </div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>


