<form>
    <h3>Ajouter un module</h3>
    <label for="theme.id">Choisir le domaine :</label>
    <select ng-model="theme.id" class="form-control" id="theme.id">
        <option ng-repeat="theme in $ctrl.themes | orderBy:'text'" value="{{theme._id}}">{{theme.text}}</option>
    </select>
    <label for="module.text">Titre du module :</label>
    <input class="form-control" ng-model="module.text" id="module.text" maxlength="50">
    <label for="module.tag">Code du module :</label>
    <input class="form-control" ng-model="module.tag" id="module.tag" placeholder="ex: II.2405" maxlength="8">
    <button ng-click="addModule()">Ajouter</button>
</form>
