<div class="row">
    <header>
        <h1>Mode Examen {{$ctrl.cronos}} </h1>
    </header>
</div>
<div class=" corps panel-body">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{qcm.text}}</h1>
            <br>
            <div ng-show="showScore" >
                <div class="alert" ng-class="displayAlert(successRate)">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <h3>  Vous avez obtenu une note de <strong>{{note}}/20</strong> ({{score}}/{{numberOfQuestions}})</h3>
                </div>
                <button class="btn btn-primary" ng-click="showCorrection()" type="submit">Afficher les réponses</button>
            </div>
            <form ng-hide="hideQcm">
                <ul class="ul-question">
                    <li class="getQuestion" ng-repeat="($index1,question) in $ctrl.questions"><span >{{$index+1}}. {{question.text}}?</span>
                        <ol type="A">
                            <li  ng-repeat="($index2,answer) in $ctrl.answers" ng-init="generateArray($index1,$index,answer.status)" ng-if="question._id==answer.question_id" >
                                <input  id="{{answer._id}}" type="checkbox" ng-click="checkBoxValue($index1,$index,answer.status)" ng-model="myVar"  value="answer._id">
                                {{answer.text}}
                            </li>
                        </ol>
                    </li>
                </ul>
                <button  class="btn btn-primary" type="submit" ng-show="isUserOnLastPage" ng-click="showCorrectionPage()">Terminer</button>
            </form>
            <div ng-show="showCorrectionn" class="panel-group" id="accordion" >
                <div>
                    <ul class="ul-question">
                        <li ng-repeat="question in $ctrl.questions">
                            <div  class="panel" ng-class="returnPanelColor($index)" >
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="pointeur"
                                           data-toggle="collapse" data-parent="#accordion" href="#collapses{{question._id}}">
                                            {{$index+1}}. {{question.text}}?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapses{{question._id}}" class="panel-collapse collapse" >
                                    <div  class="panel-body">
                                        <ol type="A">
                                            <li  ng-repeat="answer in $ctrl.answers" ng-if="question._id==answer.question_id" >
                                                <p ng-class="isAnswerTrue()">{{answer.text}}</p>
                                            </li>
                                        </ol>
                                    </div>
                                    <div class="panel-footer">
                                        <p><strong>Explication</strong><br>
                                        </p><ul><li>{{question.explanation}}</li></ul></div>
                                </div>
                            </div>
                            <br>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
