<header>
    <h1>Vos modules</h1>
</header>
<form>
    <div class="row">
        <div class="form-group col-md-6">
            <label>Titre du qcm :</label>
            <input class="form-control" ng-model="qcm.title" placeholder="">
            <label>Choisir le domaine :</label>
            <select ng-model="theme.title" class="form-control" >
                <option ng-repeat="theme in $ctrl.themes" value="{{theme._id}}">{{theme.text}}</option>
            </select>
            <label>Choisir le sujet :</label>
            <select ng-model="module.id" class="form-control">
                <option ng-repeat="module in $ctrl.modules" ng-if="module.theme_id==theme.title" value="{{module._id}}">
                    [{{module.module_id}}]: {{module.text}}
                </option>
            </select>
            <button ng-click="addQcm()"></button>
        </div>
    </div>
</form>

<ul>
    <li ng-repeat="qcm in $ctrl.qcms">
        <a ui-sref="qcmCreate({qcmId :qcm._id})">
            {{qcm.text}}
        </a>
        <button type="button" ui-sref="qcmStats({qcmId :qcm._id})" class="btn btn-default"><span class="glyphicon glyphicon-stats"></span></button>
        <button type="button" ui-sref="qcmCreateExam({qcmId :qcm._id})" class="btn btn-default"><span class="glyphicon glyphicon-education"></span></button>
        <button ng-click="removeQcm()" class="delete">&times;</button>
    </li>
</ul>
